WebApp_A6/WebApp_A6/Connected Services/AccountManager/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/A4" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/A4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="idx" type="xs:int" />
      <xs:element minOccurs="0" name="operations" nillable="true" type="tns:ArrayOfOperation" />
      <xs:element minOccurs="0" name="servicesUsed" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataModel" nillable="true" type="tns:DataModel" />
  <xs:complexType name="ArrayOfOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Operation" nillable="true" type="tns:Operation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOperation" nillable="true" type="tns:ArrayOfOperation" />
  <xs:complexType name="Operation">
    <xs:sequence>
      <xs:element minOccurs="0" name="opName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="opResult" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Operation" nillable="true" type="tns:Operation" />
</xs:schema>